* {
    box-sizing: border-box;
}

:root {
    /* used to calculate the header view height and ul height */
    --nav-height: 40px;

    /*
        Even though this doesn't work on Safari, IE, and Edge
        this is smooth scroll behaviour FOR FREE.
        https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-behavior
        FOR FREE
        Note: 20180320: Found this works fine in Edge on Android due to Blink engine
    */
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Oswald", sans-serif;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    font-weight: bold;
}

a:link, a:visited {
    color: #040303;
}

a:hover {
    color: #040303;
    /* Add shadow */
    text-shadow: 2px 2px 7px #6B818C;
}

a:active {
    color: #040303;
    /* Add shadow */
    text-shadow: 2px 2px 7px #6B818C;
}

/*
    ** NAV RULES
*/

nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: #f5f3f5;
    min-height: var(--nav-height);
    box-shadow: 0 5px 15px #f5f3f5;/*, 0 -5px 15px #f5f3f5;*/
}

nav > ul {
    list-style: none;
    line-height: var(--nav-height);
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

/*
    ** HEADER RULES
*/

header {
    /*height: 92vh;*/ /*Seems awfully specific and error prone.*/
    height: calc(100vh - var(--nav-height));
    padding: 0 15px;
}

header h1 {
    font-size: 2rem;
    margin: 15px 0 0 2vw;
}

header h2 {
    margin: 15px 0 15px 2vw;
}

header.hero-image {
    background-image: url('./images/background_tall.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*
    ** GENERIC SECTION RULES
*/

section {
    min-height: 100vh;
    padding: 0 5px;
}

.section-head {
    margin: calc(var(--nav-height) + 10px) 0 20px 0;
    text-align: center;
}

div {
    /* Get rid of this when getting rid of the grayboxes */
    border: 1px solid transparent;
}

/*
    ** MORE SPECIFIC SECTION RULES
*/

.bio-text {
    font-family: "Montserrat", sans-serif;
    text-align: left;
    line-height: 1.5rem;
    max-width: 90%;
    margin: 0 auto;
}

.back-to-top {
    text-align: center;
    display: block;
    font-size: .9rem;
    margin: 75px 0;
}

/*
    ** MISC FOR GRAYBOX
*/

/* .dark-grey {
    background-color: rgba(211, 211, 211, .5);
}

.light-grey {
    background-color: rgba(169, 169, 169, .5);
} */

/*
    ** PORTFOLIO RULES
*/

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-item {
    width: 90vw;
    max-width: 400px;
    margin: 15px 10px;
}

.portfolio-item figure {
    margin: 10px auto 5px auto;
}

.portfolio-item-screenshot {
    display: block;
    margin: 0 auto;
}

.portfolio-item figcaption {
    margin-bottom: 5px;
    font-size: 1.25rem;
    text-align: center;
}

.portfolio-item-tech-icons-container {
    display: flex;
    justify-content: center;
}

.portfolio-item-tech-icon {
    display: block;
    margin: 5px;
}

.portfolio-item-links {
    display: flex;
    justify-content: center;
}

.portfolio-item-links > a {
    margin: 0 10px;
}

.portfolio-item-desc {
    font-family: "Montserrat", sans-serif;
    text-align: left;
    margin: 5px 0;
}

/*
    ** CONTACT RULES
*/

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;

}

.contact-container > a {
    margin: 10px 5px;
    /* line-height: 2rem; */
    font-size: 2rem;
}

/*
    ** MEDIA QUERIES
*/

/* Adjust header fonts down on iPhone 5 size displays */
@media screen and (max-width: 321px) {
    header h1 {
        font-size: 1.6rem;
    }

    header h2 {
        font-size: 1.25rem;
    }
}

/* Swap out "hero image" above 300px displays */
@media screen and (min-height: 300px) {
    
    header.hero-image {
        background-image: url('./images/background_wide.png');
    }
}

/* On higher vertical resolutions, increase nav size and nav link font */
@media screen and (min-height: 1000px) {
    :root {
        --nav-height: 60px;
    }

    nav > ul > li > a {
        font-size: 1.5rem;
    }
}

/* Keep bioigraphy text from being too wide and hard to read on wider displays */
@media screen and (min-width: 500px) {
    .bio-text {
        min-width: 50%;
        max-width: 50%;
    }
}

/* A width of 750px is about the point where elements really need to be scaled up */
@media screen and (min-width: 750px) {
    header h1 {
        margin: 15px 0 15px 5vw;
        font-size: 3rem;
    }

    header h2 {
        margin: 15px 0 15px 5vw;
        font-size: 2.5rem;
    }

    .section-head {
        font-size: 3rem;
    }

    .bio-text {
        font-size: 1.25rem;
    }

    .portfolio-item figcaption {
        font-size: 2rem;
    }
    
    .portfolio-item-tech-icon {
        font-size: 1.5rem;
    }

    .portfolio-item-links > a {
        font-size: 1.25rem;
    }

    .portfolio-item-desc {
        font-size: 1.25rem;
    }
}

/* Bump header text down a tad on iPhone X like displays */
@media screen and (min-width: 800px) {
    header h1 {
        margin: 15px 0 15px 5vw;
        font-size: 2.5rem;
    }

    header h2 {
        margin: 15px 0 15px 5vw;
        font-size: 2rem;
    }

    .section-head {
        font-size: 3rem;
    }

    .bio-text {
        font-size: 1.25rem;
    }

    .portfolio-item figcaption {
        font-size: 2rem;
    }
    
    .portfolio-item-tech-icon {
        font-size: 1.5rem;
    }

    .portfolio-item-links > a {
        font-size: 1.25rem;
    }

    .portfolio-item-desc {
        font-size: 1.25rem;
    }
}

/* Some adjustments for even wider screens */
@media screen and (min-width: 1000px) {
    header h1 {
        margin: 100px 0 15px 7vw;
        font-size: 3.5rem;
    }

    header h2 {
        margin: 30px 0 15px 7vw;
        font-size: 2.25rem;
    }

    .portfolio-item {
        margin: 15px 30px;
    }
}

/* Further adjustments for HD resolutions */
@media screen and (min-width: 1200px) {
    header h1 {
        margin: 100px 0 15px 7vw;
        font-size: 4.25rem;
    }

    header h2 {
        margin: 30px 0 15px 7vw;
        font-size: 2.75rem;
    }

    .portfolio-item {
        margin: 15px 30px;
    }
}